@import "../../../variables.scss";

.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 15px;
}

hr {
    margin-top: 30px;
}

.format-buttons {
    margin-bottom: 20px;
    text-align: center;
}

.format-history {
    margin: 20px 0;
}