$color-black: #000000;
$color-dark: #333333;
$color-dark-red: #8F0E0E;
$color-grey: #5B5B5B;
$color-light: #F8F8F8;
$color-grey-light: #DDDDDD;
$color-white: #FFFFFF;
$color-red: #A21B1B;
$color-blue: #2E3197;
$color-green: #1BA23E;
$color-blue-light: #1B81A2;
$color-yellow: #E1DB1A;